.errorPage{
    height: 100%;
    color: #333;
    display: grid;
    place-items: center;
}

.err{
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #999;
    box-shadow: 2px 2px;
    text-align: center;
}