:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next{
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

li{
  list-style-type: none;
}

/*Custom classes))*/

header{
  color: #333;
  padding: 5px 20px;
  display: flex;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header ul{
  display: flex;
  gap: 10px;
}

footer{
  display: grid;
  grid-auto-columns: auto auto;
  place-items: center;
  padding: 10px 0;
}

.f{
  display: flex;
}

.container{
  padding: 20px 50px;
}